{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    sblum GmbH - development & strategy <br />
    Konrad-Zuse-Platz 11<br />
    81829 M&uuml;nchen<br />
    <abbr title="Phone">089 / 21 539 539-0</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ductung.nguyen@sblum.de">ductung.nguyen@sblum.de</a><br />
    <strong>Allgemein:</strong> <a href="mailto:kontakt@sblum.de">kontakt@sblum.de</a>
</address>

{% endblock %}
